#list-section {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 40vh; */
}

.button {
    all: unset;
    font-family: "MapleMono", monospace;
    cursor: pointer;
}

.button:hover {
    text-decoration: underline;
}

.button

#new-item-button {
    font-size: x-large;
}

